[submodule "31/cnappgoat"]
	path = 31/uncategorized/cnappgoat
	url = https://github.com/ermetic-research/cnappgoat
[submodule "31/crAPI"]
	path = 31/uncategorized/crAPI
	url = https://github.com/OWASP/crAPI
[submodule "31/shufflecake-c"]
	path = 31/uncategorized/shufflecake-c
	url = https://codeberg.org/shufflecake/shufflecake-c
[submodule "31/LambdaLooter"]
	path = 31/uncategorized/LambdaLooter
	url = https://github.com/StateFarmIns/LambdaLooter
[submodule "31/unguard"]
	path = 31/uncategorized/unguard
	url = https://github.com/dynatrace-oss/unguard
[submodule "31/SucoshScanny"]
	path = 31/uncategorized/SucoshScanny
	url = https://github.com/MustafaBilgici/SucoshScanny
[submodule "31/T3SF"]
	path = 31/uncategorized/T3SF
	url = https://github.com/Base4Security/T3SF
[submodule "31/Strix-Interceptor"]
	path = 31/uncategorized/Strix-Interceptor
	url = https://github.com/Lexicon421/Strix-Interceptor
[submodule "31/build-inspector"]
	path = 31/uncategorized/build-inspector
	url = https://github.com/vmware-labs/build-inspector
[submodule "31/ek47"]
	path = 31/uncategorized/ek47
	url = https://gitlab.com/KevinJClark/ek47
[submodule "31/dracon"]
	path = 31/uncategorized/dracon
	url = https://github.com/thought-machine/dracon
[submodule "31/FlowMate"]
	path = 31/uncategorized/FlowMate
	url = https://github.com/usdAG/FlowMate
[submodule "31/Glyph"]
	path = 31/uncategorized/Glyph
	url = https://github.com/Xenios91/Glyph
[submodule "31/EvilnoVNC"]
	path = 31/uncategorized/EvilnoVNC
	url = https://github.com/JoelGMSec/EvilnoVNC
[submodule "31/attack-surface-framework"]
	path = 31/uncategorized/attack-surface-framework
	url = https://github.com/vmware-labs/attack-surface-framework
[submodule "31/scorecard"]
	path = 31/uncategorized/scorecard
	url = https://github.com/ossf/scorecard
[submodule "31/The_Wifydra"]
	path = 31/uncategorized/The_Wifydra
	url = https://github.com/lozaning/The_Wifydra
[submodule "31/USBvalve"]
	path = 31/uncategorized/USBvalve
	url = https://github.com/cecio/USBvalve
[submodule "31/veilid"]
	path = 31/uncategorized/veilid
	url = https://gitlab.com/veilid/veilid
[submodule "31/lupo"]
	path = 31/uncategorized/lupo
	url = https://github.com/malienist/lupo
[submodule "31/RedWizard"]
	path = 31/uncategorized/RedWizard
	url = https://github.com/SecuraBV/RedWizard
[submodule "31/Kraken"]
	path = 31/uncategorized/Kraken
	url = https://github.com/kraken-ng/Kraken
[submodule "31/SQLRecon"]
	path = 31/uncategorized/SQLRecon
	url = https://github.com/skahwah/SQLRecon
[submodule "31/bbot"]
	path = 31/uncategorized/bbot
	url = https://github.com/blacklanternsecurity/bbot
[submodule "31/mi-x"]
	path = 31/uncategorized/mi-x
	url = https://github.com/Rezilion/mi-x
[submodule "31/pcapinator"]
	path = 31/uncategorized/pcapinator
	url = https://github.com/mspicer/pcapinator
[submodule "31/ruleprocessorY"]
	path = 31/uncategorized/ruleprocessorY
	url = https://github.com/0xVavaldi/ruleprocessorY
[submodule "31/nuclei"]
	path = 31/uncategorized/nuclei
	url = https://github.com/projectdiscovery/nuclei
[submodule "31/HardHatC2"]
	path = 31/uncategorized/HardHatC2
	url = https://github.com/DragoQCC/HardHatC2
[submodule "31/ics-forensics-tools"]
	path = 31/uncategorized/ics-forensics-tools
	url = https://github.com/microsoft/ics-forensics-tools
[submodule "30/uncategorized/AADInternals"]
	path = 30/uncategorized/AADInternals
	url = https://github.com/Gerenios/AADInternals
[submodule "30/uncategorized/access-undenied-aws"]
	path = 30/uncategorized/access-undenied-aws
	url = https://github.com/ermetic/access-undenied-aws
[submodule "30/uncategorized/alsanna"]
	path = 30/uncategorized/alsanna
	url = https://github.com/dulaku/alsanna
[submodule "30/uncategorized/AWSGoat"]
	path = 30/uncategorized/AWSGoat
	url = https://github.com/ine-labs/AWSGoat
[submodule "30/uncategorized/AzureGoat"]
	path = 30/uncategorized/AzureGoat
	url = https://github.com/ine-labs/AzureGoat
[submodule "30/uncategorized/badrats"]
	path = 30/uncategorized/badrats
	url = https://gitlab.com/KevinJClark/badrats
[submodule "30/uncategorized/ControlCompass.github.io"]
	path = 30/uncategorized/ControlCompass.github.io
	url = https://github.com/ControlCompass/ControlCompass.github.io
[submodule "30/uncategorized/EDRSandblast"]
	path = 30/uncategorized/EDRSandblast
	url = https://github.com/wavestone-cdt/EDRSandblast
[submodule "30/uncategorized/emba"]
	path = 30/uncategorized/emba
	url = https://github.com/e-m-b-a/emba
[submodule "30/uncategorized/Empire"]
	path = 30/uncategorized/Empire
	url = https://github.com/BC-SECURITY/Empire
[submodule "30/uncategorized/FISSURE"]
	path = 30/uncategorized/FISSURE
	url = https://github.com/ainfosec/FISSURE
[submodule "30/uncategorized/hls4ml"]
	path = 30/uncategorized/hls4ml
	url = https://github.com/fastmachinelearning/hls4ml
[submodule "30/uncategorized/memfini"]
	path = 30/uncategorized/memfini
	url = https://github.com/anoixesecurity/memfini
[submodule "30/uncategorized/mercury"]
	path = 30/uncategorized/mercury
	url = https://github.com/cisco/mercury
[submodule "30/uncategorized/opentdf"]
	path = 30/uncategorized/opentdf
	url = https://github.com/opentdf/opentdf
[submodule "30/uncategorized/PacketSender"]
	path = 30/uncategorized/PacketSender
	url = https://github.com/dannagle/PacketSender
[submodule "30/uncategorized/pcileech"]
	path = 30/uncategorized/pcileech
	url = https://github.com/ufrisk/pcileech
[submodule "30/uncategorized/MemProcFS"]
	path = 30/uncategorized/MemProcFS
	url = https://github.com/ufrisk/MemProcFS
[submodule "30/uncategorized/PMR"]
	path = 30/uncategorized/PMR
	url = https://github.com/alenazi90/PMR
[submodule "30/uncategorized/residuefree"]
	path = 30/uncategorized/residuefree
	url = https://github.com/LArkema/residuefree
[submodule "30/uncategorized/SharpSCCM"]
	path = 30/uncategorized/SharpSCCM
	url = https://github.com/Mayyhem/SharpSCCM
[submodule "30/uncategorized/svachal"]
	path = 30/uncategorized/svachal
	url = https://github.com/7h3rAm/svachal
[submodule "30/uncategorized/machinescli"]
	path = 30/uncategorized/machinescli
	url = https://github.com/7h3rAm/machinescli
[submodule "30/uncategorized/TheAllCommander"]
	path = 30/uncategorized/TheAllCommander
	url = https://github.com/matt-handy/TheAllCommander
[submodule "30/uncategorized/unblob"]
	path = 30/uncategorized/unblob
	url = https://github.com/onekey-sec/unblob
[submodule "30/uncategorized/vajra"]
	path = 30/uncategorized/vajra
	url = https://github.com/r3curs1v3-pr0xy/vajra
[submodule "30/uncategorized/Wakanda-Land"]
	path = 30/uncategorized/Wakanda-Land
	url = https://github.com/q0phi80/Wakanda-Land
[submodule "30/uncategorized/Xavier_MemoryAnalysis_Framework"]
	path = 30/uncategorized/Xavier_MemoryAnalysis_Framework
	url = https://github.com/solomonsonya/Xavier_MemoryAnalysis_Framework
[submodule "30/uncategorized/zuthaka"]
	path = 30/uncategorized/zuthaka
	url = https://github.com/pucarasec/zuthaka
